.item-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail img {
    width: 300px;
    height: auto;
}

.item-detail h2 {
    margin: 1rem 0;
}

.item-detail p {
    color: #888;
    font-size: 1.2rem;
}
















/* 
.contDetalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloDetalles{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cardDetalles{
    width: 250px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 50px;
}

.cardDetalles img {
    border-radius: 8px;
}

.cardDetallesDesc{
    font-size: 0.8rem;
}

.cardDetallesCat{
    display: none;
}

.cardDetallesPrecio{
    color: rgb(202, 141, 29);
<<<<<<< HEAD:src/components/ItemDetail/ItemDetail.css
} */
=======
}

/* ItemDetail.css */
.itemDetail {
    text-align: center;
    padding: 20px;
}

.itemDetail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.itemDetail h3 {
    font-size: 28px;
    margin: 20px 0;
}

.itemDetail p {
    font-size: 20px;
    color: #333;
}
>>>>>>> 0db5dca0d084e70d25b8a1f0d0995af0d78eb981:src/components/ItemDetail.css
